.back-color{
    background-color: #f3f3f3;
}

.fes_top_title{
    margin-top: 150px;
}

.fes_no_kiroku_top{
    color: #1f1f1f;
    text-align: center;
    margin: 0;
}

.fes_desc{
    color: #1f1f1f;
    font-size: 18px;
    text-align: center;
}

.fes_top_btn{
    position: relative;
    top: -350px;
    display: flex;
}

.fes_btn_login{
    color: #dfdddd;
    font-weight: bold;
    background-color: #585757;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.fes_btn_register{
    color: #1f1f1f;
    font-weight: bold;
    background-color: #dfdddd;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.fes_btn_blog{
    color: #dfdddd;
    font-weight: bold;
    background-color: #585757;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.w-16{
    display: none!important;
}


